name: 完 Format Validation
on:
  workflow_call:

jobs:
  cpp-lint:
    name: 完 C++ lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setvars
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: 'pip'
      - run: pip install clang-format

  cs-lint:
    name: 完 C# lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setvars
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.x'
      - run: dotnet tool restore
      - run: dotnet tool run dotnet-format ${{env.PROJECT_PATH}}/GodotOpenKCC.sln --check

  gd-lint:
    name: 完 GDScript lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setvars
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: 'pip'
      - run: pip install gdtoolkit
      - run: gdlint ${{env.ADDON_PATH}} ${{env.PROJECT_PATH}}/scripts ${{env.PROJECT_PATH}}/tests

  markdown-lint:
    name: 完 Markdown lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setvars
      - uses: actionshub/markdownlint@main
