name: 完 Format Validation
on:
  workflow_call:

jobs:
  cpp-lint:
    name: 完 C++ lint
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v3
      - uses: RafikFarhad/clang-format-github-action@v3
        with:
          sources: "src/**/*.h,src/**/*.c,test/**/*.cpp"

  cs-lint:
    name: 完 C# lint
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.x'
      - run: dotnet tool restore
      - run: dotnet tool run dotnet-format ./demo-project/GodotOpenKCC.sln --check

  gd-lint:
    name: 完 GDScript lint
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
          cache: 'pip'
      - run: pip install gdtoolkit
      - run: gdlint openkcc demo-project/scripts demo-project/tests

  markdown-lint:
    name: 完 Markdown lint
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v3
      - uses: actionshub/markdownlint@main
